body {
  font-family: 'Barlow', Arial, sans-serif;
  font-size: 16px;
  color: #554;
  background: white;
  line-height: 1.5;
  padding: 0;
  margin: 0;
}

iframe{
  border-radius: 16px;
}

code {
  font-size: 0.85em;
}

.reveal pre code, .hljs {
  background-color: rgb(250,250,250);   
}

a {
  color: green;
  text-decoration: none;
  border-bottom: solid 2px green;
}

a:hover {
  border-bottom: solid 3px green;
}

h1 {
  font-family: 'Tangerine', 'OFL Sorts Mill Goudy TT', Arial, sans-serif;
  margin: 0;
  text-align: center;
}

div.nav {
  color: #ccc;
  position: fixed;
  font-family: 'Barlow', courier;
  top: 0px;
  right: 0px;
  background: #eee;
  padding: 5px 5px 8px 10px;
  border-bottom: solid 2px #ccc;
  border-left: solid 2px #ccc;
  border-bottom-left-radius: 0.4rem;
}

div.nav a { color: green; text-decoration: none; border: none; }
div.nav a:hover { border-bottom: 5px solid #ccc; }

div.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0px;
  padding: 0px;
  padding-bottom: 1rem;
}

div.header {
  padding: 10px;
  text-align: center;
}

div.content {
  width: 90%;
  max-width: 900px;
  margin: auto;
}