/* All the base styles used on site */

:root {
    --content-max-width: 100ch;    /* roughly 100 characters per line */
  }

body{
    font-family: 'Barlow', Arial, sans-serif;
    font-size: 16px;
    background: var(--color-background);
}

h1 {
    text-align: center;
    margin-bottom: 1rem;
}

ul{
    list-style: none;
}

ol{
    list-style: none;
    padding-left: 1rem;
}

a{
    text-decoration: none;
    color: var(--color-text);
}

a:hover{
    font-weight: bold;
    color: var(--color-accent);
}

button{
    cursor: pointer;
}

/* self descriptive. Class for buttons that contain an svg */
/* example: menu button */
button.svg-button{
    background: transparent;
    border: 0;
}

button.svg-button svg{
    fill: var(--color-text);
}

button.svg-button:hover svg{
    fill: var(--color-link);
}

button.svg-button:active svg{
    fill: var(--color-accent)
}


code {
    font-size: 0.85em;
  }

/* base styles for all rendered staves etc */
#output {
    min-height: 220px;
    background-color: #fbfbf0;
    margin-top: 20px;
    border: 1px solid #ccc;
}

button {
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #0f1111;
  display: inline-block;
  font-family: "Amazon Ember",sans-serif;
  font-size: 13px;
  line-height: 29px;
  padding: 0 10px 0 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 100px;
}

button:hover {
  background-color: #f7fafa;
}

button:focus {
  border-color: #008296;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  outline: 0;
}
