/* Layout specific styles. Mobile styles are default and grow into larger formats */

/* holder of all content */
.container {
    width: 100%;
    min-height: 100vh;
  }

/* holds examples. Covers full screen on mobile. */
.main-content{
    width: 100%;
    height: 100%;
    padding: 2rem;
}

/* inner wrapper: constrains lines, centers content */
.content-wrapper {
    max-width: var(--content-max-width, 75ch);
    margin: 0 auto; /* centers content */
    width: 100%;
}

/* hide container by default on mobile */
.nav-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 80%;
    max-width: 300px; /* not committed to this number... */ 
    z-index: 100;

    display: flex;
    flex-direction: column;
    overflow: hidden;
    background: var(--color-background);
    color: var(--color-text);

    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

/* When nav-open class is on body, show nav-container */
body.nav-open .nav-container {
    transform: translateX(0%);
}

.nav-title{
    font-size: 36px;
    font-weight: 300;
    height: 130px;
    line-height: 130px;
    margin-bottom: 0px;
    text-align: center;
}

/* Allows scrolling only on site-nav. (full nav container not scrollable) */
.site-nav{
    overflow: auto;
    scrollbar-width: thin;  

    padding-top: 20px;
}
 
.site-nav .section{
    padding-bottom: 1rem;
} 

/* give a little padding to headers */
.site-nav .section .section-header{
  display: block;
  width: 100%;
  padding: 0.5rem 1rem;  

  font-size: 1.1rem;
  margin-top: 0px;
  margin-bottom: 10px;
  text-decoration: none;
}

/* make anchor tags take full width of nav contianers and shift links to right */
.site-nav li a {
  display: block;
  width: 100%;
  padding: 0.5rem 0rem 0.5rem 2rem;  
}
  
.site-nav li a:hover {
  background-color: var(--color-background-secondary);
}

/* everything should be the same bg color (covers left + right col) */
.nav-container{
    background: var(--color-background);
}

/* On mobile, place button to open nav on the top right */
#open-sidebar-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 10; /* ensure it stays on top */
}

#overlay {
    display: none;
}
  
/* Show only when nav is open */
body.nav-open #overlay {
    display: block;
    position: fixed;
    inset: 0;
    background-color: rgba(24, 24, 28, 0.75);
    z-index: 50;
}

/* for button that copies code in html/node-example layouts */
.copy-btn {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
  
    /* hide visually and remove from hit‑testing */
    opacity: 0;
    pointer-events: none;
  
    transition:
      opacity 0.2s ease,
      pointer-events 0s linear 0.2s; /* delay re‑enabling pointer‑events until after fade-out */
  }

/* found in layouts */
.code-block{
    position: relative;
}
  
.code-block:hover .copy-btn {
    opacity: 1;
    pointer-events: auto;
  
    /* remove the delay on hover so pointer-events is active immediately */
    transition:
      opacity 0.2s ease,
      pointer-events 0s;
}

/* sidebar goes to side starting at medium windows */
@media (min-width: 900px){
    .container{
        display: grid;        
        grid-template-areas: "left right";
        grid-template-columns: 300px 1fr;
    }

    .nav-container{
        grid-area: left;
        position: sticky;
        top: 0;
        align-self: start;
        transform: none;
        height: 100vh;
        max-width: none;
        width: auto;
    }
    
    .main-content{
        grid-area: right;
        width: auto;
        height: auto;
        padding-left: 2rem;
        padding-right: 4rem;
        min-width: 0; /* allows long <pre> to scroll correctly */
    }

    #open-sidebar-btn{
        display: none;
    }
}
  