/* body {
  font-family: 'Barlow', Arial, sans-serif;
  font-size: 16px;
  color: #554;
  background: white;
  line-height: 1.5;
  padding: 0;
  margin: 0;
} */

iframe{
  border-radius: 16px;
}

code {
  font-size: 0.85em;
  color: rgb(14, 98, 182);
}

pre code,
pre code.hljs {
  background-color: rgb(250,250,250);
}

/* a {
  color: green;
  text-decoration: none;
  border-bottom: solid 2px green;
}

a:hover {
  border-bottom: solid 3px green;
} */

button {
  display: inline-block;
  outline: 0;
  cursor: pointer;
  padding: 5px 16px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  vertical-align: middle;
  border: 1px solid;
  border-radius: 6px;
  color: #24292e;
  background-color: #fafbfc;
  border-color: #1b1f2326;
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset;
  transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  transition-property: color, background-color, border-color;
}
button:hover {
  background-color: #f3f4f6;
  border-color: #1b1f2326;
  transition-duration: 0.1s;
}

input[type="submit"] {
  display: inline-block;
  outline: 0;
  cursor: pointer;
  padding: 5px 16px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  vertical-align: middle;
  border: 1px solid;
  border-radius: 6px;
  color: #24292e;
  background-color: #fafbfc;
  border-color: #1b1f2326;
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset;
  transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  transition-property: color, background-color, border-color;
}

input[type="submit"]:hover {
  background-color: #f3f4f6;
  border-color: #1b1f2326;
  transition-duration: 0.1s;
}

h1 {
  font-family: 'Tangerine', 'OFL Sorts Mill Goudy TT', Arial, sans-serif;
  margin: 0;
  text-align: center;
}

div.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0px;
  padding: 0px;
  padding-bottom: 1rem;
}

div.header {
  padding: 10px;
  text-align: center;
}

div.content {
  width: 90%;
  max-width: 900px;
  margin: auto;
}