<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- site-wide stylesheets -->
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/theme.css">
    <link rel="stylesheet" href="/css/helpers.css">   
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/base.css">
    <!-- contains core js functionality for all examples -->
    <script src="/js/main.js" defer></script>
    <!-- styles for syntax highlighting  -->
    <link
    href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css"
    rel="stylesheet"
    media="(prefers-color-scheme: dark)"
    />
    <link
    href="https://unpkg.com/prismjs@1.20.0/themes/prism.css"
    rel="stylesheet"
    media="(prefers-color-scheme: light)"
    />
  <!-- allow extra tags in the head -->
  {% if extraHead %}
    {% for tag in extraHead %}
      {{ tag }}
    {% endfor %}
  {% endif %}
  <title>{{ title }}</title>
</head>
<body>
   <div class="container">
      {% include "partials/nav.html" %}
      
        <main class="main-content">
          <section class="content-wrapper">
            <button id="open-sidebar-btn" class="svg-btn svg-btn--lg">
              <!-- menu svg -->
              <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px"><path d="M165.13-254.62q-10.68 0-17.9-7.26-7.23-7.26-7.23-18t7.23-17.86q7.22-7.13 17.9-7.13h629.74q10.68 0 17.9 7.26 7.23 7.26 7.23 18t-7.23 17.87q-7.22 7.12-17.9 7.12H165.13Zm0-200.25q-10.68 0-17.9-7.27-7.23-7.26-7.23-17.99 0-10.74 7.23-17.87 7.22-7.13 17.9-7.13h629.74q10.68 0 17.9 7.27 7.23 7.26 7.23 17.99 0 10.74-7.23 17.87-7.22 7.13-17.9 7.13H165.13Zm0-200.26q-10.68 0-17.9-7.26-7.23-7.26-7.23-18t7.23-17.87q7.22-7.12 17.9-7.12h629.74q10.68 0 17.9 7.26 7.23 7.26 7.23 18t-7.23 17.86q-7.22 7.13-17.9 7.13H165.13Z"/></svg>
          </button>
          {{ content }}
          </section>
        </main>
        <!-- only shown when navbar is open on mobile to allow for easier closing -->
        <div class="overlay" id="overlay"></div>
    </div>
</body>
</html>