---
layout: layouts/base.html
toc: false
needsHighlight: true
---

{{ content }}

{% capture snippet %}
{% include "code/html-examples/{{ filename }}" %}
{% endcapture %}

<iframe
  width="100%"
  height="250"
  srcdoc="{{ snippet | escape }}"
  title="{{ filename }}"
></iframe>

<form
  action="https://jsfiddle.net/api/post/library/pure/"
  method="post"
  target="_blank"
>
  <textarea hidden name="html">{{ snippet }}</textarea><br>
  <input type="submit" value="Edit in JSFiddle">
</form>

<pre><code class="language-{{ language | default: "javascript" }}">
{{ snippet | escape }}
</code></pre>
