---
layout: layouts/base.html
toc: false
---

{{ content }}

{% assign snippetPath = "code/" | append: filename %}
{% assign ext         = filename | split:'.' | last | downcase %}
{% assign showIframe         = ext == "html" %}

{%- comment -%}
  Now just wrap the file's contents in your demo shortcode.
  — ext            = language (e.g. “html”, “js”)
  — ext == "html"
  — (height omitted, so defaults to 250px)
{%- endcomment -%}
{% demo ext false showIframe %}
  {% render snippetPath %}
{% enddemo %}